@import "../../../../assets/styles/auth-form";

.signup {
  padding-top: 116px;
  padding-bottom: 118px;
  .container {
    display: flex;

    .page-image {
      margin-top: 6px;
      margin-left: 185px;

      img {
        vertical-align: top;
      }
    }
  }
}
@media only screen and (max-width: 1400px) {
  .signup {
    padding-top: 50px;
    padding-bottom: 50px;

    .container {
      flex-direction: column;

      .auth-form {
        text-align: center;
      }

      .auth-checkbox {
        margin: 0 auto;
        label{
          text-align: left;
        }
      }

      // .auth-form{
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   flex-direction: column;
      // }
      .page-image {
        margin: 20px auto;


        img {
          margin-top: 30px;
          background-size: contain;
          min-width: -webkit-fill-available;
          margin: 0 auto;
          width: 100%;
        }
      }
    }
  }
}